* {
    box-sizing: border-box;
}
html {
    font-size: 1.25rem;
}
body {
    /* system font stack: see https://css-tricks.com/snippets/css/system-font-stack/ */
    font: 400 100%/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #2F372B;
    background: #fffcf3;
    margin: 0;
    padding: 0;
}
a {text-decoration: none;}
header {
    background: #2F372B;
    border-bottom: 3px solid #FE5276;
    padding: 1rem 2rem;
    line-height: 2;
    text-align: center;
}
header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
header a {
    color: #fff;
}
#logo a {
    color: #FE5276;
    font-weight: 700;
    font-size: 1.5rem;
}

main {background: #efe9e0;}
main a {
    color: #9E0226;
}
h1 {
    font-size: 2rem;
}
section {
    padding: 2rem;
}
#sample {
    background: #e9d9d0;
}
#resources {
    font-size: .9rem;
}
#resources ul {
    padding-left: 16px;
}
#resources li {
    margin-bottom: 1rem;
}
